In [2]:
import pandas as pd
import numpy as np
import re

## Import files

In [3]:
unemp_2019=pd.read_csv("/Users/macbook/Documents/Ironhack/Week2/Project/Project-Week-2-Barcelona/data/2019_Atur_per_sexe.csv")

In [4]:
unemp_2020=pd.read_csv("/Users/macbook/Documents/Ironhack/Week2/Project/Project-Week-2-Barcelona/data/2020_Atur_per_sexe.csv")

In [5]:
unemp_2018=pd.read_csv("/Users/macbook/Documents/Ironhack/Week2/Project/Project-Week-2-Barcelona/data/2018_Atur_per_sexe.csv")

In [6]:
unemp_2020.head()

,Any,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Demanda_ocupacio,Nombre
0,2020,1,1,Ciutat Vella,1,el Raval,Homes,Atur Registrat,1724
1,2020,1,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur Registrat,491
2,2020,1,1,Ciutat Vella,3,la Barceloneta,Homes,Atur Registrat,489
3,2020,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur Registrat,673
4,2020,1,2,Eixample,5,el Fort Pienc,Homes,Atur Registrat,542

Change the name of the columns

In [7]:
col_names = ['any', 'mes', 'codi_districte', 'nom_districte', 'codi_barri',
       'nom_barri', 'sexe', 'demanda_ocupacio', 'nombre']

In [10]:
unemp_2018.columns = col_names
unemp_2019.columns = col_names
unemp_2020.columns = col_names

Adding quarters

In [11]:
months = [1,2,3,4,5,6,7,8,9,10,11,12]
quarters = [1,1,1,2,2,2,3,3,3,4,4,4]

In [12]:
quarter_month =pd.DataFrame({"month": months,
             "quarter": quarters
            })

In [13]:
q_2018 = unemp_2018.merge(right=quarter_month, how="left", left_on="mes", right_on="month").drop("month", axis=1)
q_2019 = unemp_2019.merge(right=quarter_month, how="left", left_on="mes", right_on="month").drop("month", axis=1)
q_2020 = unemp_2020.merge(right=quarter_month, how="left", left_on="mes", right_on="month").drop("month", axis=1)

Chenge the capitals in 2020

In [15]:
no_regex= re.compile("No")
q_2020["demanda_ocupacio"].replace(to_replace=no_regex, value="no", inplace=True)
atu_regex= re.compile("Aturats")
q_2020["demanda_ocupacio"].replace(to_replace=atu_regex, value="aturats", inplace=True)
reg_regex= re.compile("Registrat")
q_2020["demanda_ocupacio"].replace(to_replace=reg_regex, value="registrat", inplace=True)

Put together the 3 years

In [16]:
frames= [q_2018, q_2019, q_2020]
q_full = pd.concat(frames)

## Analyzing by gender

Data stored by quarter

In [18]:
y18q10 = q_2018[q_2018["quarter"] == 1]
y18q20 = q_2018[q_2018["quarter"] == 2]
y18q30 = q_2018[q_2018["quarter"] == 3]
y18q40 = q_2018[q_2018["quarter"] == 4]
y19q10 = q_2019[q_2019["quarter"] == 1]
y19q20 = q_2019[q_2019["quarter"] == 2]
y19q30 = q_2019[q_2019["quarter"] == 3]
y19q40 = q_2019[q_2019["quarter"] == 4]
y20q10 = q_2020[q_2020["quarter"] == 1]
y20q20 = q_2020[q_2020["quarter"] == 2]
y20q30 = q_2020[q_2020["quarter"] == 3]
y20q40 = q_2020[q_2020["quarter"] == 4]

In [19]:
y20q1 = pd.DataFrame(y20q10.groupby(["sexe"])["nombre"].sum())
y20q2 = pd.DataFrame(y20q20.groupby(["sexe"])["nombre"].sum())
y20q3 = pd.DataFrame(y20q30.groupby(["sexe"])["nombre"].sum())
y19q1 = pd.DataFrame(y19q10.groupby(["sexe"])["nombre"].sum())
y19q2 = pd.DataFrame(y19q20.groupby(["sexe"])["nombre"].sum())
y19q3 = pd.DataFrame(y19q30.groupby(["sexe"])["nombre"].sum())
y19q4 = pd.DataFrame(y19q40.groupby(["sexe"])["nombre"].sum())
y18q1 = pd.DataFrame(y18q10.groupby(["sexe"])["nombre"].sum())
y18q2 = pd.DataFrame(y18q20.groupby(["sexe"])["nombre"].sum())
y18q3 = pd.DataFrame(y18q30.groupby(["sexe"])["nombre"].sum())
y18q4 = pd.DataFrame(y18q40.groupby(["sexe"])["nombre"].sum())
y20q1["increase"] = (y20q1["nombre"] / y19q4["nombre"] -1)
y20q2["increase"] = (y20q2["nombre"] / y20q1["nombre"] -1)
y20q3["increase"] = (y20q3["nombre"] / y20q2["nombre"] -1)
y19q1["increase"] = (y19q1["nombre"] / y18q4["nombre"] -1)
y19q2["increase"] = (y19q2["nombre"] / y19q1["nombre"] -1)
y19q3["increase"] = (y19q3["nombre"] / y19q2["nombre"] -1)
y19q4["increase"] = (y19q4["nombre"] / y19q3["nombre"] -1)
y18q2["increase"] = (y18q2["nombre"] / y18q1["nombre"] -1)
y18q3["increase"] = (y18q3["nombre"] / y18q2["nombre"] -1)
y18q4["increase"] = (y18q4["nombre"] / y18q3["nombre"] -1)
y18q1[["Y18_Q2", "Change1"]] = y18q2
y18q1[["Y18_Q3", "Change2"]] = y18q3
y18q1[["Y18_Q4", "Change3"]] = y18q4
y18q1[["Y19_Q1", "Change4"]] = y19q1
y18q1[["Y19_Q2", "Change5"]] = y19q2
y18q1[["Y19_Q3", "Change6"]] = y19q3
y18q1[["Y19_Q4", "Change7"]] = y19q4
y18q1[["Y20_Q1", "Change8"]] = y20q1
y18q1[["Y20_Q2", "Change9"]] = y20q2
y18q1[["Y20_Q3", "Change10"]] = y20q3
full_table = y18q1
full_table.rename(columns={"nombre":"Y18_Q1"}, inplace = True)

In [52]:
col = ['Y18_Q1', 'Change1', 'Y18_Q2','Change2','Y18_Q3', 'Change3','Y18_Q4', 'Change4',
       'Y19_Q1', 'Change5', 'Y19_Q2', 'Change6', 'Y19_Q3', 'Change7', 'Y19_Q4',
       'Change8', 'Y20_Q1', 'Change9', 'Y20_Q2', 'Change10', 'Y20_Q3']

In [47]:
full_table = full_table[col]

In [48]:
full_table

,Y18_Q1,Change1,Y18_Q2,Change2,Y18_Q3,Change3,Y18_Q4,Change4,Y19_Q1,Change5,...,Change6,Y19_Q3,Change7,Y19_Q4,Change8,Y20_Q1,Change9,Y20_Q2,Change10,Y20_Q3
sexe,,,,,,,,,,,,,,,,,,,,,
Dones,150941,-0.033742,145848,0.041063,151837,-0.043422,145244,-0.005852,144394,-0.025070,...,0.054136,148395,-0.027555,144306,0.028876,148473,1.063042,306306,0.153546,353338
Homes,130207,-0.070181,121069,-0.031263,117284,0.027404,120498,0.023378,123315,-0.049678,...,-0.016077,115305,0.042531,120209,0.045438,125671,1.423789,304600,0.147571,349550

In [23]:
y20q1 = pd.DataFrame(y20q10.groupby(["sexe"])["nombre"].sum())
y20q2 = pd.DataFrame(y20q20.groupby(["sexe"])["nombre"].sum())
y20q3 = pd.DataFrame(y20q30.groupby(["sexe"])["nombre"].sum())
y19q1 = pd.DataFrame(y19q10.groupby(["sexe"])["nombre"].sum())
y19q2 = pd.DataFrame(y19q20.groupby(["sexe"])["nombre"].sum())
y19q3 = pd.DataFrame(y19q30.groupby(["sexe"])["nombre"].sum())
y19q4 = pd.DataFrame(y19q40.groupby(["sexe"])["nombre"].sum())
y18q1 = pd.DataFrame(y18q10.groupby(["sexe"])["nombre"].sum())
y18q2 = pd.DataFrame(y18q20.groupby(["sexe"])["nombre"].sum())
y18q3 = pd.DataFrame(y18q30.groupby(["sexe"])["nombre"].sum())
y18q4 = pd.DataFrame(y18q40.groupby(["sexe"])["nombre"].sum())
y18q1[["Y18_Q2"]] = y18q2
y18q1[["Y18_Q3"]] = y18q3
y18q1[["Y18_Q4"]] = y18q4
y18q1[["Y19_Q1"]] = y19q1
y18q1[["Y19_Q2"]] = y19q2
y18q1[["Y19_Q3"]] = y19q3
y18q1[["Y19_Q4"]] = y19q4
y18q1[["Y20_Q1"]] = y20q1
y18q1[["Y20_Q2"]] = y20q2
y18q1[["Y20_Q3"]] = y20q3
full_table_quarters = y18q1
full_table_quarters.rename(columns={"nombre":"Y18_Q1"}, inplace = True)

In [119]:
full_table_quarters

,Y18_Q1,Y18_Q2,Y18_Q3,Y18_Q4,Y19_Q1,Y19_Q2,Y19_Q3,Y19_Q4,Y20_Q1,Y20_Q2,Y20_Q3
sexe,,,,,,,,,,,
Dones,150941,145848,151837,145244,144394,140774,148395,144306,148473,306306,353338
Homes,130207,121069,117284,120498,123315,117189,115305,120209,125671,304600,349550

In [112]:
x = pd.DataFrame(full_table_quarters.sum())

In [150]:
desc = full_table_quarters.describe()

In [151]:
desc

,Y18_Q1,Y18_Q2,Y18_Q3,Y18_Q4,Y19_Q1,Y19_Q2,Y19_Q3,Y19_Q4,Y20_Q1,Y20_Q2,Y20_Q3
count,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,140574.000000,133458.500000,134560.50000,132871.000000,133854.500000,128981.500000,131850.000000,132257.500000,137072.000000,305453.000000,351444.000000
std,14661.152001,17521.398931,24432.66061,17498.064407,14905.103841,16677.113434,23398.163389,17039.152106,16123.448825,1206.324169,2678.520487
min,130207.000000,121069.000000,117284.00000,120498.000000,123315.000000,117189.000000,115305.000000,120209.000000,125671.000000,304600.000000,349550.000000
25%,135390.500000,127263.750000,125922.25000,126684.500000,128584.750000,123085.250000,123577.500000,126233.250000,131371.500000,305026.500000,350497.000000
50%,140574.000000,133458.500000,134560.50000,132871.000000,133854.500000,128981.500000,131850.000000,132257.500000,137072.000000,305453.000000,351444.000000
75%,145757.500000,139653.250000,143198.75000,139057.500000,139124.250000,134877.750000,140122.500000,138281.750000,142772.500000,305879.500000,352391.000000
max,150941.000000,145848.000000,151837.00000,145244.000000,144394.000000,140774.000000,148395.000000,144306.000000,148473.000000,306306.000000,353338.000000

In [156]:
desc[1:2]

,Y18_Q1,Y18_Q2,Y18_Q3,Y18_Q4,Y19_Q1,Y19_Q2,Y19_Q3,Y19_Q4,Y20_Q1,Y20_Q2,Y20_Q3
mean,140574.0,133458.5,134560.5,132871.0,133854.5,128981.5,131850.0,132257.5,137072.0,305453.0,351444.0

## Type

In [74]:
y20q1 = pd.DataFrame(y20q10.groupby(["demanda_ocupacio"])["nombre"].sum())
y20q2 = pd.DataFrame(y20q20.groupby(["demanda_ocupacio"])["nombre"].sum())
y20q3 = pd.DataFrame(y20q30.groupby(["demanda_ocupacio"])["nombre"].sum())
y19q1 = pd.DataFrame(y19q10.groupby(["demanda_ocupacio"])["nombre"].sum())
y19q2 = pd.DataFrame(y19q20.groupby(["demanda_ocupacio"])["nombre"].sum())
y19q3 = pd.DataFrame(y19q30.groupby(["demanda_ocupacio"])["nombre"].sum())
y19q4 = pd.DataFrame(y19q40.groupby(["demanda_ocupacio"])["nombre"].sum())
y18q1 = pd.DataFrame(y18q10.groupby(["demanda_ocupacio"])["nombre"].sum())
y18q2 = pd.DataFrame(y18q20.groupby(["demanda_ocupacio"])["nombre"].sum())
y18q3 = pd.DataFrame(y18q30.groupby(["demanda_ocupacio"])["nombre"].sum())
y18q4 = pd.DataFrame(y18q40.groupby(["demanda_ocupacio"])["nombre"].sum())
y20q1["increase"] = ((y20q1["nombre"] / y19q4["nombre"] -1)*100)
y20q2["increase"] = (y20q2["nombre"] / y20q1["nombre"] -1)*100
y20q3["increase"] = (y20q3["nombre"] / y20q2["nombre"] -1)*100
y19q1["increase"] = (y19q1["nombre"] / y18q4["nombre"] -1)*100
y19q2["increase"] = (y19q2["nombre"] / y19q1["nombre"] -1)*100
y19q3["increase"] = (y19q3["nombre"] / y19q2["nombre"] -1)*100
y19q4["increase"] = (y19q4["nombre"] / y19q3["nombre"] -1)*100
y18q2["increase"] = ((y18q2["nombre"] / y18q1["nombre"] -1)*100)
y18q3["increase"] = (y18q3["nombre"] / y18q2["nombre"] -1)*100
y18q4["increase"] = (y18q4["nombre"] / y18q3["nombre"] -1)*100
y18q1[["Y18_Q2", "Change1"]] = y18q2
y18q1[["Y18_Q3", "Change2"]] = y18q3
y18q1[["Y18_Q4", "Change3"]] = y18q4
y18q1[["Y19_Q1", "Change4"]] = y19q1
y18q1[["Y19_Q2", "Change5"]] = y19q2
y18q1[["Y19_Q3", "Change6"]] = y19q3
y18q1[["Y19_Q4", "Change7"]] = y19q4
y18q1[["Y20_Q1", "Change8"]] = y20q1
y18q1[["Y20_Q2", "Change9"]] = y20q2
y18q1[["Y20_Q3", "Change10"]] = y20q3
full_table_emp = y18q1
full_table_emp.rename(columns={"nombre":"Y18_Q1"}, inplace = True)

In [75]:
full_table_emp

,Y18_Q1,Y18_Q2,Change1,Y18_Q3,Change2,Y18_Q4,Change3,Y19_Q1,Change4,Y19_Q2,...,Y19_Q3,Change6,Y19_Q4,Change7,Y20_Q1,Change8,Y20_Q2,Change9,Y20_Q3,Change10
demanda_ocupacio,,,,,,,,,,,,,,,,,,,,,
Atur registrat,223473,209920,-6.064715,206985,-1.398152,208912,0.930985,211920,1.439841,202973,...,202864,-0.053702,207740,2.403581,218245,5.056802,269686,23.570299,275298,2.080939
Demanda no aturats,57675,56997,-1.175553,62136,9.016264,56830,-8.539333,55789,-1.831779,54990,...,60836,10.631024,56775,-6.675324,55899,-1.542933,341220,510.422369,427590,25.312115

In [43]:
full_table_emp.columns

Index(['Y18_Q1', 'Y18_Q2', 'Change1', 'Y18_Q3', 'Change2', 'Y18_Q4', 'Change3',
       'Y19_Q1', 'Change4', 'Y19_Q2', 'Change5', 'Y19_Q3', 'Change6', 'Y19_Q4',
       'Change7', 'Y20_Q1', 'Change8', 'Y20_Q2', 'Change9', 'Y20_Q3',
       'Change10'],
      dtype='object')

In [45]:
col = ['Y18_Q1', 'Change1', 'Y18_Q2','Change2','Y18_Q3', 'Change3','Y18_Q4', 'Change4',
       'Y19_Q1', 'Change5', 'Y19_Q2', 'Change6', 'Y19_Q3', 'Change7', 'Y19_Q4',
       'Change8', 'Y20_Q1', 'Change9', 'Y20_Q2', 'Change10', 'Y20_Q3']

In [77]:
full_table_emp[col]

,Y18_Q1,Change1,Y18_Q2,Change2,Y18_Q3,Change3,Y18_Q4,Change4,Y19_Q1,Change5,...,Change6,Y19_Q3,Change7,Y19_Q4,Change8,Y20_Q1,Change9,Y20_Q2,Change10,Y20_Q3
demanda_ocupacio,,,,,,,,,,,,,,,,,,,,,
Atur registrat,223473,-6.064715,209920,-1.398152,206985,0.930985,208912,1.439841,211920,-4.221876,...,-0.053702,202864,2.403581,207740,5.056802,218245,23.570299,269686,2.080939,275298
Demanda no aturats,57675,-1.175553,56997,9.016264,62136,-8.539333,56830,-1.831779,55789,-1.432182,...,10.631024,60836,-6.675324,56775,-1.542933,55899,510.422369,341220,25.312115,427590

In [53]:
y20q1 = pd.DataFrame(y20q10.groupby(["demanda_ocupacio"])["nombre"].sum())
y20q2 = pd.DataFrame(y20q20.groupby(["demanda_ocupacio"])["nombre"].sum())
y20q3 = pd.DataFrame(y20q30.groupby(["demanda_ocupacio"])["nombre"].sum())
y19q1 = pd.DataFrame(y19q10.groupby(["demanda_ocupacio"])["nombre"].sum())
y19q2 = pd.DataFrame(y19q20.groupby(["demanda_ocupacio"])["nombre"].sum())
y19q3 = pd.DataFrame(y19q30.groupby(["demanda_ocupacio"])["nombre"].sum())
y19q4 = pd.DataFrame(y19q40.groupby(["demanda_ocupacio"])["nombre"].sum())
y18q1 = pd.DataFrame(y18q10.groupby(["demanda_ocupacio"])["nombre"].sum())
y18q2 = pd.DataFrame(y18q20.groupby(["demanda_ocupacio"])["nombre"].sum())
y18q3 = pd.DataFrame(y18q30.groupby(["demanda_ocupacio"])["nombre"].sum())
y18q4 = pd.DataFrame(y18q40.groupby(["demanda_ocupacio"])["nombre"].sum())
y18q1[["Y18_Q2"]] = y18q2
y18q1[["Y18_Q3"]] = y18q3
y18q1[["Y18_Q4"]] = y18q4
y18q1[["Y19_Q1"]] = y19q1
y18q1[["Y19_Q2"]] = y19q2
y18q1[["Y19_Q3"]] = y19q3
y18q1[["Y19_Q4"]] = y19q4
y18q1[["Y20_Q1"]] = y20q1
y18q1[["Y20_Q2"]] = y20q2
y18q1[["Y20_Q3"]] = y20q3
full_table_emp_quarter = y18q1
full_table_emp_quarter.rename(columns={"nombre":"Y18_Q1"}, inplace = True)

In [54]:
full_table_emp_quarter

,Y18_Q1,Y18_Q2,Y18_Q3,Y18_Q4,Y19_Q1,Y19_Q2,Y19_Q3,Y19_Q4,Y20_Q1,Y20_Q2,Y20_Q3
demanda_ocupacio,,,,,,,,,,,
Atur registrat,223473,209920,206985,208912,211920,202973,202864,207740,218245,269686,275298
Demanda no aturats,57675,56997,62136,56830,55789,54990,60836,56775,55899,341220,427590

=> the amount of reg was always bigger than the demanda, in q2 2020 huge increase (more than 500%) followed by 25% increase in q3, meanwhile the registered was "only" 25% from q1 to q2 and only 2% from q3.
Qusetion: Why was that high the dem.. increase?

In [55]:
q_2020

,any,mes,codi_districte,nom_districte,codi_barri,nom_barri,sexe,demanda_ocupacio,nombre,quarter
0,2020,1,1,Ciutat Vella,1,el Raval,Homes,Atur registrat,1724,1
1,2020,1,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur registrat,491,1
2,2020,1,1,Ciutat Vella,3,la Barceloneta,Homes,Atur registrat,489,1
3,2020,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur registrat,673,1
4,2020,1,2,Eixample,5,el Fort Pienc,Homes,Atur registrat,542,1
...,...,...,...,...,...,...,...,...,...,...
2659,2020,9,10,Sant Martí,70,el Besòs i el Maresme,Dones,Demanda no aturats,1086,3
2660,2020,9,10,Sant Martí,71,Provençals del Poblenou,Dones,Demanda no aturats,870,3
2661,2020,9,10,Sant Martí,72,Sant Martí de Provençals,Dones,Demanda no aturats,1227,3
2662,2020,9,10,Sant Martí,73,la Verneda i la Pau,Dones,Demanda no aturats,1384,3
2663,2020,9,99,No consta,99,No consta,Dones,Demanda no aturats,234,3

In [59]:
q_2020.groupby(["mes","demanda_ocupacio"])["nombre"].sum()

mes  demanda_ocupacio
1    Atur registrat         70602
     Demanda no aturats     18484
2    Atur registrat         71447
     Demanda no aturats     16937
3    Atur registrat         76196
     Demanda no aturats     20478
4    Atur registrat         86423
     Demanda no aturats     83383
5    Atur registrat         90528
     Demanda no aturats    124711
6    Atur registrat         92735
     Demanda no aturats    133126
7    Atur registrat         91100
     Demanda no aturats    139123
8    Atur registrat         92916
     Demanda no aturats    142823
9    Atur registrat         91282
     Demanda no aturats    145644
Name: nombre, dtype: int64

# Avg per year

Demanda no aturats

In [141]:
x_d =pd.DataFrame(q_2020[q_2020['demanda_ocupacio'] == 'Demanda no aturats'].groupby("mes")["nombre"].sum())

In [142]:
x_d.mean()

nombre    91634.333333
dtype: float64

In [143]:
y_d =pd.DataFrame(q_2019[q_2019['demanda_ocupacio'] == 'Demanda no aturats'].groupby("mes")["nombre"].sum())

In [144]:
y_d.mean()

nombre    19032.5
dtype: float64

In [145]:
z_d =pd.DataFrame(q_2018[q_2018['demanda_ocupacio'] == 'Demanda no aturats'].groupby("mes")["nombre"].sum())

In [146]:
z_d.mean()

nombre    19469.833333
dtype: float64

Atur registrat

In [66]:
q_2020[q_2020['demanda_ocupacio'] == 'Atur registrat'].groupby("mes")["nombre"].sum()

mes
1    70602
2    71447
3    76196
4    86423
5    90528
6    92735
7    91100
8    92916
9    91282
Name: nombre, dtype: int64

In [147]:
x_a=q_2020[q_2020['demanda_ocupacio'] == 'Atur registrat'].groupby("mes")["nombre"].sum()
y_a=q_2019[q_2019['demanda_ocupacio'] == 'Atur registrat'].groupby("mes")["nombre"].sum()
z_a=q_2018[q_2018['demanda_ocupacio'] == 'Atur registrat'].groupby("mes")["nombre"].sum()

In [149]:
print(x_a.mean(),y_a.mean(), z_a.mean())

84803.22222222222 68791.41666666667 70774.16666666667